<div class="sotc">
    <div class="backgroundSpace">
        {{#if image}}
        <img src="{{image}}" style="position: absolute; bottom: {{img.bottom}}px; right: {{img.right}}%;"/>
        {{/if}}
    </div>
    <div class="animation">
        <div class="introBackground">
            <div class="intro noselect">
                {{swtextcrawlGetConfig 'intro-1'}}
                <br>
                {{swtextcrawlGetConfig 'intro-2'}}
            </div>
        </div>
        <div class="verticalWrapper">
            <div class="logo noselect">
                {{#if logo}}
                <img class="logoDefault logoSub" src="{{logo}}" style="display: block;">
                {{else}}
                <div class="logoSub logoText">
                    {{{swtextcrawlGetConfig 'logo-text'}}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="titles noselect" style="font-size: {{size}}%;">
            <div>
                <p class="episode tcenter">
                    {{episode}}
                </p>
                <p class="title tcenter SWFont">
                    {{title}}
                </p>
                <div class="text">
                    {{#each body as |text|}}
                    <p>{{text}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
